<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<div class="header">
   <div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/d.jpg" th:src="@{/resources/images/d.jpg}"/>
        </div>
    </div>   
<div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/c.jpg" th:src="@{/resources/images/c.jpg}"/>
        </div>
    </div> 
<div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/images.jpg" th:src="@{/resources/images/images.jpg}"/>
        </div>
    </div> 
	<div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/e.jpg" th:src="@{/resources/images/e.jpg}"/>
        </div>
    </div> 
<div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/f.jpg" th:src="@{/resources/images/f.jpg}"/>
        </div>
    </div> 	
	<div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/g.jpg" th:src="@{/resources/images/g.jpg}"/>
        </div>
    </div> <div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/h.jpg" th:src="@{/resources/images/h.jpg}"/>
        </div>
    </div> <div class="responsive">
        <div class="gallery">
          <img class="img-responsive" src="../static/resources/images/i.jpg" th:src="@{/resources/images/i.jpg}"/>
        </div>
    </div> 
    </div> 	

<div class="row">
  <div class="column side" style="background-color:#aaa;">Column</div>
  <div class="column middle" style="background-color:#bbb;">Column</div>
  <div class="column side" style="background-color:#ccc;">Column</div>
</div>
  </body>

</html>